<h2>Change Password</h2>
<hr />

<em class="section-subheading text-muted">Name:</em> {{name}}
<br/>
<em class="section-subheading text-muted">E-mail:</em> {{email}}
<br/>
<em class="section-subheading text-muted">Type:</em> {{type}}
<div class="clearfix"><br /></div>

<form>
  
  <div class="form-group">
    <label>Old Password<sup>*</sup></label>
    <input type="password" class="form-control" placeholder="Enter Old Password" ng-model="oldPass" required>
  </div>

  <div class="form-group">
    <label>New Password<sup>*</sup></label>
    <input type="password" class="form-control" placeholder="Enter New Password" ng-model="newPass" required>
  </div>

  

  <button type="submit" class="width-35 btn btn-sm btn-primary" ng-click="changePass()">Change Password</button>
</form>