<div>
  <h2>Inventory</h2>
  <hr />
  <div class="container">
    <div>
      <div class="row">

        <div class="col-md-3">
          <div class="input-group input-group-lg add-on searchbar">
            <input class="form-control search-query" ng-model="queryName" ng-change="searchAll()" placeholder="Search Name" type="text">
            <div class="input-group-btn">
              <button class="btn btn-secondary" type="submit" disabled><i class="fa fa-search" aria-hidden="true"></i><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="input-group input-group-lg add-on searchbar">
            <input class="form-control search-query" ng-model="queryTags" ng-change="searchAll()" placeholder="Search Tags" type="text">
            <div class="input-group-btn">
              <button class="btn btn-secondary" type="submit" disabled><i class="fa fa-tags" aria-hidden="true"></i><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="input-group input-group-md add-on searchbar">
             <select class="form-control input-md pull-right custom-select searchbar" ng-model="queryLocation"  ng-change="searchLoc()" ng-options="x['location'] for x in locations">
				<option value="" > Search Location  </option>
             </select>
          </div>
        </div>


        <div class="col-md-3 text-center">
          <div class="form-check searchbar">
          <label class="form-check-label form-check-inline">
            <input class="form-check-input" type="checkbox" value="" ng-model="showAvailable" ng-change="searchAll()"> Available
          </label>
          <label class="form-check-label form-check-inline">
            <input class="form-check-input" type="checkbox" value="" ng-model="showUnavailable" ng-change="searchAll()"> Unavailable
          </label>
          </div>
        </div>

        <div class="col-md-3">
          <select class="form-control input-lg pull-right custom-select searchbar" ng-model="itemsPerPage" ng-change="perPage()" ng-options="('Show ' + size+' per page') for size in pageSizes"></select>
        </div>

      </div>
      <br />
      <table class="table table-striped">
        <tbody>
          <tr ng-if='desktop'>
            <th class="image">Item</th>
            <th class="name"><a ng-click="sort_by('name')">Name <i class="fa fa-sort"></i></a></th>
            <th class="tags" title="non-sortable">Tags</th>
            <th class="description" title="non-sortable">Status</th>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="9">
              {{sizes}}
              <div class="text-center">
                <ul class="pagination">
                  <li class="page-item" ng-class="{disabled: currentPage == 0}">
                    <a class="page-link" href="javascript:;" ng-click="prevPage()">« Prev</a>
                  </li>
                  <li class="page-item" ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                    <a class="page-link" href="javascript:;" ng-bind="n + 1">1</a>
                  </li>
                  <li class="page-item" ng-class="{disabled: currentPage == pagedItems.length - 1}">
                    <a class="page-link" href="javascript:;" ng-click="nextPage()">Next »</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tfoot>
        <tbody>

          <tr ng-if='desktop' ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
            <td><a href="#items/{{item.itemid}}"><img src="./images/items/{{item.itemid}}.jpg" class="img-thumbnail inventory-image"></a></td>
            <td><a href="#items/{{item.itemid}}" class="inventoryLink">{{item.name}}</a></td>
            <td>
              <ul>
                <li ng-if="item.tag1"><a href="" class="tag" ng-click="searchTagsInd(item.tag1)">{{item.tag1}}</a></li>
                <li ng-if="item.tag2"><a href="" class="tag" ng-click="searchTagsInd(item.tag2)">{{item.tag2}}</a></li>
                <li ng-if="item.tag3"><a href="" class="tag" ng-click="searchTagsInd(item.tag3)">{{item.tag3}}</a></li>
                <li ng-if="item.tag4"><a href="" class="tag" ng-click="searchTagsInd(item.tag4)">{{item.tag4}}</a></li>
                <li ng-if="item.tag5"><a href="" class="tag" ng-click="searchTagsInd(item.tag5)">{{item.tag5}}</a></li>
              </ul>
            </td>
            <td>{{item.status}}<span ng-if="item.status === 'Available'"><br /></span></td>
          </tr>

          <tr ng-if='!desktop' ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
            <td>
              <a href="#items/{{item.itemid}}" class="inventoryLink"><img src="./images/items/{{item.itemid}}.jpg" class="img-thumbnail inventory-image-mobile float-left">
              <strong>{{item.name}}</strong></a> <br/>
              <strong>Tags:</strong>
                <span ng-if="item.tag1"><a href="" class="tag" ng-click="searchTagsInd(item.tag1)">{{item.tag1}}</a></span>
                <span ng-if="item.tag2">, <a href="" class="tag" ng-click="searchTagsInd(item.tag2)">{{item.tag2}}</a></span>
                <span ng-if="item.tag3">, <a href="" class="tag" ng-click="searchTagsInd(item.tag3)">{{item.tag3}}</a></span>
                <span ng-if="item.tag4">, <a href="" class="tag" ng-click="searchTagsInd(item.tag4)">{{item.tag4}}</a></span>
                <span ng-if="item.tag5">, <a href="" class="tag" ng-click="searchTagsInd(item.tag5)">{{item.tag5}}</a></span><br />
              <strong>Status:</strong> {{item.status}} <span ng-if="item.status === 'Available'">({{item.quantityAvailable}})</span>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>