
<h2>{{data.name}}</h2>

<hr />

<div class="container">
  <!-- Item image -->
  <a href="./images/items/{{data.itemid}}.jpg" target="_blank"><img src="./images/items/{{data.itemid}}.jpg" class="img-thumbnail rounded float-left main-image" alt="..."></a>
  <!-- Item image -->

  <!-- Item description -->
  <div class="container">
    <h4>{{data.name}}</h4>
    <p class="section-subheading text-muted emphasis"><em>{{data.desc}}</em></p>

    <h5>Status</h5>
    <p>{{data.status}}</p>

    <span ng-if="type === 'Admin' || type === 'USC Student'">
      <h5>Location</h5>
      <p>{{data.location}}</p>
      <p ng-if="data.location == null||data.location.length < 1"><em>No location information</em></p>
    </span>

    <h5>Quantity</h5>
      <div class="clearfix"><br /></div>
	<div>
		<tien-clndr class="clndr" tien-clndr-object="clndr" tien-clndr-events="events" tien-clndr-options="options">
      <div class="clndr-controls">
        <div class="clndr-previous-button" ng-click="clndr.back()">
          &lsaquo;
        </div>
        <div class="month">
          {{month}}
        </div>
        <div class="clndr-next-button" ng-click="clndr.forward()">
          &rsaquo;
        </div>
      </div>
      <div class="clndr-grid">
        <div class="days-of-the-week">
          <div class="header-day" ng-repeat="day in daysOfTheWeek track by $index">
            {{day}}
          </div>
        </div>
        <div class="days">
          <div class="{{day.classes}}" ng-repeat="day in days">
            <div class="event-indicator" ng-show="isAfterToday(day.date)" ng-click="showEvents(day.events)">{{availableItems(day.events)}}</div>
            {{day.day}}
          </div>
        </div>
      </div>
    </tien-clndr>
	</div>
    


    <!--<h5>Tags</h5>
    <ul>
    <li ng-if="data.tag1">{{data.tag1}}</li>
    <li ng-if="data.tag2">{{data.tag2}}</li>
    <li ng-if="data.tag3">{{data.tag3}}</li>
    <li ng-if="data.tag4">{{data.tag4}}</li>
    <li ng-if="data.tag5">{{data.tag5}}</li>
    </ul>-->
  </div>
  <div class="clearfix"><br /></div>
  <!-- /Item description -->

  <!-- Item Check Out -->
  <div class="card" ng-if="type === 'Admin' || type === 'USC Student'">
    <div class="card-header">
      <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="To check out an item, the item must be Available. Please specify the quantity you are checking out (this value must be no greater than the amount available)"></i> Check-Out
      <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#checkoutCard" aria-expanded="false" aria-controls="checkoutCard">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </button>
    </div>
    <div id="checkoutCard" class="collapse"><div class="card-block">


      <form>

        <div class="form-group">
          <label for="checkoutQuantityInput">Quantity to Check Out<sup>*</sup></label>
          <input type="text" class="form-control" id="checkoutQuantityInput" placeholder="Enter Quantity" ng-model="checkout.quantity">
        </div>

        <div class="form-group">
          <label for="checkoutUserName">Borrower Name<sup>*</sup></label>
          <input type="text" class="form-control" id="checkoutUserName" placeholder="Enter Name" ng-model="checkout.checkoutUserName">
        </div>

        <div class="form-group">
          <label for="checkoutUserEmail">Borrower Email<sup>*</sup></label>
          <input type="text" class="form-control" id="checkoutUserEmail" placeholder="Enter Email" ng-model="checkout.checkoutUserEmail">
        </div>

        <div class="form-group">
          <label for="checkoutReturnDate">Expected Return Date<sup>*</sup></label>
          <input type="text" class="form-control" name="daterange2" id="checkoutReturnDate" ng-model="checkout.returnDate" value="01/01/2015 - 01/31/2015" />
        </div>

        <div class="form-group" ng-if="data.hardware == 1">
        <label for="hardwareIDInput">Unique Item IDs<sup>*</sup></em></label>

         <!-- <select class="form-control input-md pull-right custom-select searchbar" ng-model="queryHardwareID" ng-options="x.HardwareID for x in hardwareID"></select> -->
         <small>Enter unique ID of each item checked out ({{ checkout.quantity==='' || checkout.quantity== null ? 0 : checkout.quantity}} IDs Expected)</small>
         <br/>
		<isteven-multi-select
    		input-model="hardwareID"
    		output-model="queryHardwareID"
    		button-label="label"
    		item-label="label"
    		tick-property="ticked"
			output-properties="label ticked"
    		>
		</isteven-multi-select>


        </div>

        <button type="submit" class="btn btn-primary" ng-click="checkOut()" ng-disabled="data.status ==='Unavailable'">Check Out</button>

      </form>


    </div></div>
  </div>
  <!-- /Item Check Out/In -->

  <!-- Item Reservations -->
  <div class="card" ng-if="type === 'Admin'">
    <div class="card-header">
      <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Modify upcoming reservations. Reservations pick-up dates can begin at most 3 weeks from the current date."></i> Reservations
      <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#reservationCard" aria-expanded="false" aria-controls="reservationCard">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </button>
    </div>
    <div id="reservationCard" class="collapse"><div class="card-block">
      <h5>Upcoming Reservations</h5>

      <p ng-if="reservations.length == 0">No reservations found.</p>
      <span ng-if="reservations.length != 0">
        <table class="table table-striped table-hover">
        <tbody>
          <tr>
            <th>Dates</th>
            <th>User</th>
            <th>Borrower Name</th>
            <th>Borrower Email</th>
            <th>Quantity</th>
            <th>Cancel</th>
          </tr>
          <tr ng-repeat="reservation in reservations">
            <td>{{reservation.daterange}}</td>
            <td>{{reservation.email}}</td>
            <td>{{reservation.username}}</td>
            <td>{{reservation.useremail}}</td>
            <td>{{reservation.quantity}}</td>
            <td><button type="submit" class="btn btn-primary" ng-click="dropReservation($index)" data-ng-disabled="">Cancel</button></td>
          </tr>
        </tbody>
        </table>
      </span>

      <form>

        <div class="form-group">
          <label for="user">Admin E-mail<sup>*</sup></label>
          <input type="text" class="form-control" placeholder="Admin E-mail" ng-model="newRes.user">
        </div>

        <div class="form-group">
          <label for="resUserName">Borrower Name<sup>*</sup></label>
          <input type="text" class="form-control" placeholder="Borrower Name" ng-model="newRes.resUserName">
        </div>

        <div class="form-group">
          <label for="resUserEmail">Borrower Email<sup>*</sup></label>
          <input type="text" class="form-control" placeholder="Borrower E-mail" id="reserveEmail" ng-model="newRes.resUserEmail">
        </div>

        <div class="form-group">
          <label for="quantity">Quantity<sup>*</sup></label>
          <input type="text" class="form-control" placeholder="Enter Quantity" ng-model="newRes.quantity">
        </div>

        <div class="form-group">
        <label for="daterange1">Date Range<sup>*</sup></em></label>
        <input type="text" class="form-control" name="daterange1" id="newResDates" value="01/01/2015 - 01/31/2015" />
        <small>Reservations must begin no later than 3 weeks from today.</small>
        </div>

        <button type="submit" class="btn btn-primary" ng-click="updateReservations()" data-ng-disabled="data.status ==='Unavailable'">Add Reservation</button>

      </form>


      <script type="text/javascript">
      $(function() {
          $('input[name="daterange1"]').daterangepicker(
            {
              "timePicker": false,
              startDate: moment(),
              minDate: moment()
            });
      });

      $(function() {
          $('input[name="daterange2"]').daterangepicker(
            {
              "timePicker": false,
              singleDatePicker: true,
              minDate: moment()
            })
      });
      </script>

    </div></div>
  </div>
  <!-- /Item Reservations -->

  <!-- Item Change Details -->
  <div class="card" ng-if="type === 'Admin'">
    <div class="card-header">
      <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Modify item details."></i> Update Details

      <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#detailsCard" aria-expanded="false" aria-controls="detailsCard">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <div id="detailsCard" class="collapse"><div class="card-block">

      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Name" ng-model="updatedItemDetails.name">
        </div>
        <div class="form-group" ng-if="data.hardware == 1">
          <label for="hardwareIDInput">Add Hardware IDs </br> <small>Enter unique ID of each item checked out, separated by spaces </small></em></label>
          <input type="text" class="form-control" id="hardware" placeholder="Enter Hardware IDs" ng-model="updatedItemDetails.hardware">
        </div>

        <div class="form-group">
          <label for="quantity">Quantity Available</label>
          <input type="text" class="form-control" id="quantityAvailable" placeholder="Enter Quantity Available" ng-model="updatedItemDetails.quantityAvailable">
          <small>The quantity still available for users to check out.</small>
        </div>

        <div class="form-group">
          <label for="reorder">Reorder Threshold</label>
          <input type="text" class="form-control" id="reorderThreshold" placeholder="Enter Reorder Threshold" ng-model="updatedItemDetails.reorderThreshold">
          <small>Quantity total dropping below this value will trigger a reorder e-mail.</small>
        </div>

        <div class="form-group">
          <label for="tag1">Tags</label>
          <input type="text" class="form-control" id="tag1" placeholder="Enter Tag 1"  ng-model="updatedItemDetails.tag1">
          <input type="text" class="form-control" id="tag2" placeholder="Enter Tag 2"  ng-model="updatedItemDetails.tag2">
          <input type="text" class="form-control" id="tag3" placeholder="Enter Tag 3"  ng-model="updatedItemDetails.tag3">
          <input type="text" class="form-control" id="tag4" placeholder="Enter Tag 4"  ng-model="updatedItemDetails.tag4">
          <input type="text" class="form-control" id="tag5" placeholder="Enter Tag 5"  ng-model="updatedItemDetails.tag5">
        </div>

        <div class="form-group">
          <label for="locationInput">Location</label>
          <input type="text" class="form-control" id="locationInput" ng-model="updatedItemDetails.location" maxlength="100">
          <small class="form-text text-muted">{{updatedItemDetails.location.length}}/100 Characters</small>
        </div>

        <div class="form-group">
          <label for="notesText">Description</label>
          <textarea class="form-control" rows="3" ng-model="updatedItemDetails.desc" maxlength="450"></textarea>
          <small class="form-text text-muted">{{updatedItemDetails.desc.length}}/450 Characters</small>
        </div>

        <button type="submit" class="btn btn-primary" ng-click="updateItem()" data-ng-disabled="">Update Item</button>
      </form>

      <br />

      <form>
        <button type="submit" class="btn btn-danger" ng-click="deleteItem()" data-ng-disabled="">Delete Item</button>
      </form>

    </div></div>
  </div>
  <!-- /Item Change Details -->

  <!-- /Borrower Information -->

  <!-- calendar modal -->
  <div id="calendarModal" class="modal">
      <div class="modal-content">
        <h2>Availability Status</h4>
        <hr/>
        <form>
          <div class="form-group">
            <h5>Total Unavailable: </h5> {{calendarData.totalUnavailable}} </br>
            <h5> Checked Out: </h5> {{calendarData.checkedOut}} </br>
            <h5> Reserved: </h5> {{calendarData.reserved}} </br>
          </div>
          <button type="submit" class="width-35 btn btn-sm btn-primary" ng-click="closeCalendarButtonClick()">Close</button>
        </form>
      </div>
    </div>
  </div>

</div>
