<h2>Register a New User</h2>

<hr />

<br/>
<form name="signupForm" class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-5 control-label no-padding-right" for="email">Email</label>
    <div class="col-sm-7">
      <span class="block input-icon input-icon-right">
      <input type="text" class="form-control" placeholder="Email" name="email" ng-model="signup.email" focus required/>
      <span ng-show="signupForm.email.$error.email" class="help-inline">Email is not valid</span> 
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label no-padding-right" for="password">Password</label>
    <div class="col-sm-7">
      <span class="block input-icon input-icon-right">
      <input type="password" class="form-control" name = "password" placeholder="Password" ng-model="signup.password" required/>
      <small class="errorMessage" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> Enter Password.</small>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label no-padding-right" for="password2">Confirm Password</label>
    <div class="col-sm-7">
      <span class="block input-icon input-icon-right">
      <input type="password" class="form-control" name="password2" placeholder="Password Again" ng-model="signup.password2" password-match="signup.password" required/>                                
      <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required"> Enter password again.</small>
      <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> Password do not match.</small>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label no-padding-right" for="name">Name</label>
    <div class="col-sm-7">
      <span class="block input-icon input-icon-right">
      <input type="text" class="form-control" placeholder="Name" ng-model="signup.name" />
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label no-padding-right" for="type">Type</label>
    <div class="col-sm-7">
      <span class="block input-icon input-icon-right">
        <select class="form-control custom-select" ng-model="signup.type" required>
          <option value="Admin">Admin</option>
          <option value="USC Student">USC Student</option>
          <option value="Organization">Organization</option>
        </select>
      </span>
    </div>
  </div>
  <div class="form-group">
    <span class="lbl col-sm-5"> </span>
    <div class="col-sm-7">
      <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
      Sign Up
      </button>
    </div>
  </div>
  </fieldset>
  <span class="lbl col-sm-5"> </span>
</form>